#NEXT
NEXT_PUBLIC_SITE_URL=http://localhost:3000

#APPWRITE
NEXT_PUBLIC_APPWRITE_ENDPOINT=https://sgp.cloud.appwrite.io/v1
NEXT_PUBLIC_APPWRITE_PROJECT=6a734c0f0013b7b04a0f
APPWRITE_DATABASE_ID=6a734c6e003d560a697d
APPWRITE_USER_COLLECTION_ID=users
APPWRITE_ITEM_COLLECTION_ID=items
APPWRITE_BANK_COLLECTION_ID=banks
APPWRITE_TRANSACTION_COLLECTION_ID=transactions
NEXT_APPWRITE_KEY=standard_fb125532ff749b283cf2e6de8aad67e57f6646f7884d57e26ed2cca7f7907994efabf3b9fbcff36dfed8d4604044aa1aac2b65a7ef261cc705bd00609cc6d2598c6400eb8ae03758418a816afa6d67fcdbf670ca869f74a95c91ebb1f04f9a689fbd3960973da7d68ab259abb056073a9d456d526b2218892268ab72c44972e6

#PLAID
PLAID_CLIENT_ID=6a73603aec9583000d45dcd0
PLAID_SECRET=38e0aa97e7f8ab27c9c4beb1f9360c
PLAID_ENV=sandbox
PLAID_PRODUCTS=auth,transactions,identity
PLAID_COUNTRY_CODES=US,CA

#DWOLLA
DWOLLA_KEY=AtnOinVhxHxEgrcrsNKefZ2daW7C4u1eMCl9v9dL5GYIzna6G7
DWOLLA_SECRET=5yFDGlz7Dr9LxGAiLnPbkNLd2tL06Lf67Ug1kicXt915ce3zkJ
DWOLLA_BASE_URL=https://api-sandbox.dwolla.com
DWOLLA_ENV=sandbox